
$oxford-blue: #14213D;
$orange-web: #fca311;
$platinum: #e5e5e5;

.change{
    animation: changeLink .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes changeLink {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes gradientMovement {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.page{
    position: absolute;
    top: 0;
    margin-left: 220px;
    padding: 20px;
    height: 100%;
}

@media (max-width: 1180px) {
    .page{
        margin-left: 0px;

        width: 100%;
        top: auto;
    }

}


