/* PHALETE */
$oxford-blue: #14213D;
$orange-web: #fca311;
$platinum: #e5e5e5;

.App{
    position: absolute;
    overflow-y: scroll ;
    height: 100%;
    width: 100%;
    background-size: 300%;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(28, 0, 42), rgb(53, 0, 114), rgb(164, 0, 173));
    animation: gradientMovement 5s infinite alternate;
}