/* PHALETE */
$oxford-blue: #14213D;
$orange-web: #fca311;
$platinum: #e5e5e5;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@600;700;800;900&family=PT+Serif&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora";
}

a{
    text-decoration: none;
    color: #e5e5e5;
}

li{
    list-style: none;
}

h1{
    font-size: 8rem;
    color: $orange-web;
    text-shadow: -6px 0px rgb(213, 0, 139);
}
h2{
    font-size: 2rem;
    font-weight: normal;
}

button{
    background-color: rgba(0, 0, 0, 0.15);
    border: 3px solid $orange-web;
    font-size: 30px;
    border-radius: 10px;
    color: $platinum;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
    &:hover{
        border-color: white;
        transform: scale(1.05);
        background-color: rgba(0, 0, 0, 0.35);
        color: $orange-web;
        a{
            color: $orange-web;
        }
    }


    &:active{
        transform: scale(1);
    }
}